body {
    background-color: #e6ecf8;
    font-family: 'Raleway', 'Arial',sans-serif;
    margin: 10px 15% 0 15%;;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

.welcome {
    border-bottom: 2px solid cadetblue;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

p {
    line-height: 1.6;
}

#resume {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 13px;
    border-radius: 5px;
}

#name {
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
}
