.flags {
    padding: 0 4rem 3rem 4rem;
}

.flags .wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
}

.flags .container {
    padding: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #9dacff;
    margin: 0.5rem;
    border-radius: 10px;
    transition: background-color 0.25s ease;
    font-size: 1.2rem;
}

.flags .emoji {
    font-size: 3rem;
}

.flags .container:hover {
    background-color: #7fa2d876;
}

.flags .searchbar {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.flags .searchbar:focus-visible {
    outline-color: inherit;
}